---
const offre = Astro.props;
---

<script>
    //@ts-nocheck
    import { setFavori } from "../backend.mjs";
    window.setFavori = setFavori;
</script>
<div 
 x-data={`{favori: ${offre.favori}, clickFavori() {this.favori = !this.favori; setFavori(${JSON.stringify(offre)});}}`}><li class="bg-white shadow-md p-4 rounded-lg flex flex-col gap-2 w-full">
  <h2 class="font-semibold text-xl uppercase">
    {offre.nomMaison}
  </h2>
  <p>Adresse : {offre.adresse}</p>
  <p>{offre.nbChambres} chambres, {offre.nbSdb} salles de bain</p>
  <p>Surface : {offre.surface} m²</p>
  <p>Prix : {new Intl.NumberFormat("fr-FR").format(offre.prix)} €</p>
  <img
    class="h-80 object-cover object-center"
    src={offre.imgUrl}
    alt={`Image de ${offre.nomMaison}`}
  />
  <a href={`/offres/${offre.id}`}>Voir plus</a>
  <button class="p-2 rounded-lg" @click="clickFavori" x-bind:class="{ 'bg-blue-500': favori, 'bg-gray-300': !favori }">
    FAVORI
</button>
</li></div>


