---
const offre = Astro.props;
---

<li class="bg-white shadow-md p-4 rounded-lg flex flex-col gap-2 w-full">
  <h2 class="font-semibold text-xl uppercase">
    {offre.nomMaison}
  </h2>
  <p>Adresse : {offre.adresse}</p>
  <p>{offre.nbChambres} chambres, {offre.nbSdb} salles de bain</p>
  <p>Surface : {offre.surface} m²</p>
  <p>Prix : {offre.prix} €</p>
  <img class="h-80 object-cover object-center" src={offre.imgUrl} />
</li>
