---
import { getOffre } from "../../backend.mjs";
import Base from "../../layouts/Base.astro";

const { id } = Astro.params;
const offre = await getOffre(id);
if (!offre) {
  return Astro.redirect("/offres");
}
---

<Base titre={offre.nomMaison}>
  <article class="bg-white shadow-md rounded-3xl grid grid-cols-2 gap-4">
    <ul class="flex flex-col gap-8 px-10 py-16 text-2xl">
      <h2 class="font-semibold text-5xl uppercase">
        {offre.nomMaison}
      </h2>
      <p>Adresse : {offre.adresse}</p>
      <p>{offre.nbChambres} chambres, {offre.nbSdb} salles de bain</p>
      <p>Surface : {offre.surface} m²</p>
      <p>Prix : {offre.prix} €</p>
    </ul>
    <img
      class="min-h-[50vh] h-full object-cover object-center rounded-r-3xl"
      src={offre.imgUrl}
      alt={`Image de ${offre.nomMaison}`}
    />
  </article>
</Base>
